*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	}

body{
	background: linear-gradient(to right, #020754, #820e3e);
	color: #fff;
}
summary{
	outline: none;
}
ul li{
	list-style: none;
}
.first_row{
	width: 70%;
	margin: 100px  15%;
	background: #40141c;
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-family: sans-serif;
}
.button_row{
	width: 60%;
	margin: 0 20%;
}
.button_row button{
	background: #fb4803;
	padding: 5px;
	color: #fff;
	outline: none;
	font-size: 1.5em;
	border:none;
	border-radius: 2px;
	/*line-height: 0.5em;*/
	cursor: pointer;
}

.button_row button i{
	margin: 0 5px;
}
/*blink session*/
.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.second_row{
	padding: 20px 10%;
	width: 50%;
	margin: 100px  25%;
	background: #c10761;
}
.second_row input{
	display: block;
	margin: 10px;
	outline: none;
	width: 100%;
	border-radius: 5px;
	line-height: 2.5em;
	padding: 0 10px;
}
input[type="submit"] {
  width: 60%;
  border: none;
  margin:10px 20%;
  background-color: #6b47de;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
}
input[type="submit"]:hover {
  background: #17d817;
}
.third_row{
	width: 315px;
	height: 315px;
	margin: 0 auto;
	border-radius:50%;
	background: red;
	text-align: center;
	padding: 30px 60px;
	font-size: 1.5em;
}
.third_row i{
	font-size: 3.5em;
}
.forth_row{
	text-align: center;
}
.forth_row button{
	width: 25%;
	line-height: 2.5em;
	cursor: pointer;
	background: #6b47de;
	border: none;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
}
.forth_row button:hover{
	background: green;
}
.vintage{
	margin: 30px 15%;
}
#lblGreetings{
	display: block;
	margin: 20px 0px;
	font-family: arial;
	font-size: 1.5em;
}
.time_spec{
	/*width: auto;*/
	line-height: 2.1em;
	color: #fff;
	background: red;
	border-radius: 5px;
	padding: .4em;
}
	p{
	display: inline-block;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}


@media screen and (min-width: 768px) {
	.button_row{
	width: 80%;
	margin: 0 40%;
	}	
	.bossy {
	margin: 0 10%;
	padding: 40px;
	text-align: center;
	background: navy;
	outline: 5px solid #fff;
	}
	.forth_row button{
	width: 10%;
	}
	.time_spec{
	width: 35%;
	margin: 0 auto;
	}
}